<h1>Dashboard</h1>

<ul id="sleeps-char" class="sleeps-char" data-wake-up-hour=<%= current_user.baby.night_sleep_finish %>>
  <% days = 6 %>
  <% 7.times do |i| %>
    <% day = (Date.today - (days - i).days).to_s %>
    <li class="sleeps-char-item" data-day=<%= day %>>
      <% @sleeps[day].each do |sleep| %>
        <span class="activity activity-sleep" data-sleep-start="<%= sleep.started_at.strftime('%H:%M') %>" data-sleep-finish="<%= sleep.finished_at.strftime('%H:%M') %>"></span>
      <% end %>
    </li>
  <% end %>
</ul>

<% if current_user.baby.present? %>
  <a href="/sleeps/new">Srart sleep</a>
<% else%>
  <a href="/babies/new">Add baby</a>
<% end %>
