<h1>Dashboard</h1>

<ul class="sleeps-char">
  <li class="sleeps-char-item">
  </li>
  <li class="sleeps-char-item">
  </li>
  <li class="sleeps-char-item">
  </li>
  <li class="sleeps-char-item">
  </li>
  <li class="sleeps-char-item">
  </li>
  <li class="sleeps-char-item">
  </li>
  <li class="sleeps-char-item">
  </li>
</ul>

<% if current_user.baby.present? %>
  <a href="/sleeps/new">Srart sleep</a>
<% else%>
  <a href="/babies/new">Add baby</a>
<% end %>
