<div class="container">
  <div class="row justify-content-center">
    <% if baby.photo %>
      <div class="col-md-4 col-lg-6 col-xl-4 d-flex justify-content-center align-items-center pb-5">
        <img src="<%= baby.photo %>" class="rounded" alt="photo">
      </div>
    <% end %>
    <div class="col-md-8 col-lg-6 col-xl-4">
      <%= erb :'baby/_form.html', locals: { action: '/baby/update', submit_button_text: 'Update baby' } %>
    </div>
  </div>
</div>
