<div class="container">
  <div class="d-flex justify-content-center mb-3">
    <%= erb :'baby/_baby_card.html' %>
  </div>
  <div class="mb-3">
    <% if @baby_params.any? %>
      <h2 class="text-center">Baby parameters</h2>
      <%= erb :'baby/_baby_params_list.html' %>
    <% else %>
      <p class="text-center">You haven't at any parameters yet</p>
    <% end %>
  </div>
  <div class="text-center">
    <a href="/baby_params/new" class="btn btn-primary">Add parameters</a>
  </div>
</div>
