<form action="/users/sign_in" method="post">
  <label>
    Email:
    <br>
    <input type="email" name="email">
  </label>
  <br>
  <label>
    Password:
    <br>
    <input type="password" name="password">
  </label>
  <br>
  <input type="submit" value="Sign in">
<form>
