html {
  font-size: 16px;
}

body {
  font-size: 18px;
  font-family: 'Roboto';
}

.content {
  position: relative;
  box-sizing: border-box;
  margin: 50px 0;
  padding: 15px 0;
  overflow-y: auto;
  min-height: 500px;
}

.text-center {
  text-align: center;
}

.vertically-centered-block {
  position: absolute;
  width: 100%;
  left: 0;
  top: 50px;
  bottom: 50px;
  display: flex;
  align-items: center;
}
