/* ------------ variables ------------ */

$white: #f5f5f5;
$grey: #cccccc;
$grey-darker: #b9b7b7;
$black: #0e0101;
$blue: #1d98f7;
$blue-darker: #2b81c3;
$red: #dd1e1e;
$red-darker: #b12929;
$green: #aadd1d;
$green-darker: #8eb81a;

/* ------------ general ------------ */

.d-none {
  display: none;
}
