<div class="container">
  <% if @running_sleep.present? %>
    <p>
      Current sleep has started:<br>
      <span class="fs-4"><%= date_formatted_for_ui(@running_sleep.started_at) %></span>
    </p>
    <form action="/sleeps/finish" method="post">
      <%= erb :'shared/activities/form_partials/finished_at.html', locals: { with_value: true } %>
      <div class="text-center">
        <button type="submit" class="btn btn-primary">Finish</button>
      </div>
    </form>
  <% else %>
    <button id="set_activity_finished_at" class="btn btn-primary mb-3">Set sleep finish</button>
    <form action="/sleeps/create" method="post">
      <%= erb :'shared/activities/form_partials/started_at.html' %>
      <div class="text-center">
        <button type="submit" class="btn btn-primary">Start</button>
      </div>
    </form>
  <% end %>
</div>
