<% if @running_sleep.present? %>
  <%= erb :'shared/activities/forms/finished_at.html', locals: { action: :'/sleeps/finish' } %>
<% else %>
  <button id="set_activity_finished_at">Set sleep finish</button>
  <%= erb :'shared/activities/forms/started_at.html', locals: { action: :'/sleeps/create' } %>
<% end %>
