.header {
  top: 0;
  padding: 0 15px;
  border-bottom: 1px solid var(--bs-gray-300);
}

.sign-out {
  position: relative;
  z-index: 10;

  button {
    background-color: transparent;
    border: none;
  }
}
