/* ------------ activity char ------------ */

.sleeps-char {
  list-style: none;
  padding: 0; 
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-column-gap: 15px;

  &-item {
    height: 360px;
    background-color: $grey;
    position: relative;
    
    .activity {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;

      &.activity-sleep {
        background-color: $orange;
      }
    }
  }
}
