/* ------------ button ------------ */

.btn {
  padding: 8px 15px;
  outline: none;
  line-height: 1;
  color: $white;
  background: linear-gradient($blue, $blue-darker);
  border: 1px solid $blue-darker;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  
  &:hover {
    background: linear-gradient(to top, $blue, $blue-darker);
  }

  &:focus {
    background: linear-gradient($blue, $blue-darker);
  }

  &.btn-icon {
    box-sizing: border-box;
    display: inline-block;
    width: 45px;
    height: 45px;
    padding: 8px;
    border-radius: 50%;
  }
  
  &.btn-red {
    background: linear-gradient($red, $red-darker);
    border: 1px solid $red-darker;

    &:hover {
      background: linear-gradient(to top, $red, $red-darker);
    }

    &:focus {
      background: linear-gradient($red, $red-darker);
    }
  }

  &.btn-green {
    background: linear-gradient($green, $green-darker);
    border: 1px solid $green-darker;

    &:hover {
      background: linear-gradient(to top, $green, $green-darker);
    }

    &:focus {
      background: linear-gradient($green, $green-darker);
    }
  }
}
