<footer class="footer menu">
  <nav class="nav">
    <a href="/dashboard" class="icon">
      <i class="fas fa-chart-bar"></i>
    </a>
    <a href="/baby" class="icon">
      <i class="fas fa-baby"></i>
    </a>
  </nav>
</footer>
