<header>
  <% if logged_in? %>
    <nav>
      <a href="/dashboard">Dashboard</a>
    </nav>
    <form action="/users/sign_out" method="post">
      <button type="submit" >
        Sign out
      </button>
    </form>
  <% end %>
</header>
