<header class="header menu d-flex justify-content-end align-items-center">
  <% if logged_in? %>
    <form action="/users/sign_out" method="post" class="sign-out">
      <button type="submit" class="icon">
        <i class="fas fa-sign-out-alt"></i>
      </button>
    </form>
  <% end %>
</header>
